body {

}


/* font */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

h1,h2,h3{

}

h1{

}

h2{

}

p{

}

a{

}

* {

}


* logo */
.skin-blue .main-header .logo {
	background-color: #f4b943;
}
.main-header {background-color:#FFFFFF;  max-height:130px; width:100%; min-height:30px;
                       margin-botton:10px; padding-botton:10px; position:relative
}

div{

}
>>>>>>> 0201ba0c7a2ae4c3c8879ff804c5af5c4141535b:www/styles.css

